{{#if station.measures}} 
<div class="box" id="chart"></div>
{{/if}}

<script>
const measures = [{{arrMeasure station.measures "temp" 10}}];
if (measures.length > 0) {
  data = {
    labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
    datasets: [{ values: measures }],
  };
  new frappe.Chart('#chart', {
    data: data,
    type: 'line',
    height: 180,
    colors: ['red'],
    title: 'Last 10 temperatures',
  });
}
</script>