{{> welcome-menu active="login"}}

<style>
.image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
</style>

<section class="content box">
  <div class="columns">
    <div class="column is-half">
      <form action="/authenticate" method="POST">
        <h1 class="subtitle">Log-in</h1>
        <div class="field">
          <label class="label">Email</label>
          <input class="input" placeholder="Email" name="email">
        </div>
        <div class="field">
          <label class="label">Password</label>
          <input class="input" type="password" name="password">
         </div>
        <button class="button is-link is-info">Login</button>
      </form>
    </div>
    <div class="column is-half">
      <figure class="image">
        <img src="https://cdn.glitch.global/b869d362-912a-436d-b482-84ee3e5a23cb/login.png?v=1692007925784">
      </figure>
    </div>
  </div>
</section>