/* CHART */
.title {
  font-size: 1.8rem;
}

/* LEAFLET */
#map {
  height: 350px;
}

/* IMAGES */
.image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* ICONS */

.icon {
  width: 64px;
  height: 64px;
}

.fa-solid {
  font-size: 64px;
}

.fa-location-dot {
  color: #7209b7;
}

.fa-cloud-sun {
  color: #d72638;
}

.fa-temperature-empty,
.blue {
  color: #3f88c5;
}

.fa-wind,
.green {
  color: #a7c133;
}

.fa-arrows-to-dot,
.orange {
  color: #f49d37;
}

.fa-arrow-up {
  font-size: 40px;
}

.fa-arrow-down {
  font-size: 40px;
}

/* CUSTOM PROPERTIES */

.custom-rounded {
  border-radius: 4px !important;
}

.custom-gap {
  gap: 10px;
}

.custom-icon-gap {
  gap: 30px;
}
